@use "@styles/variables.scss" as *;

.img {
  width: 100%;
  height: 100%;
  border-radius: $borderRadiusMedium;
  object-fit: cover;
  object-position: center;
  background-color: $colorWhite;
}

.people_list {
  width: 100%;
  height: 260px;
  object-fit: cover;
  object-position: top center;
  border-radius: $borderRadiusSmall $borderRadiusSmall 0 0;
}

.search_page {
  width: 100px;
  height: 140px;
  object-fit: cover;
  object-position: center center;
  border-radius: $borderRadiusSmall;
  background-color: $colorWhite;
}
