@use "@styles/variables.scss" as *;

$__borderRadius: 4px;
$__border: 4px;
$__iconWidth: 30px;

.wrapper_input {
  box-sizing: border-box;
  position: relative;
  display: inline-flex;
}

.input {
  min-width: 300px;
  padding: 10px 10px;
  border: $__border solid $colorGray;
  border-radius: $borderRadiusSmall;
  font-size: $fontSizeMain;
  outline: none;
  padding-right: calc($__iconWidth + 10px);

  &:focus {
    border: $__border solid $themeColor;
  }
}

.icon {
  width: $__iconWidth;
  height: $__iconWidth;
  position: absolute;
  top: calc($__iconWidth / 4);
  right: calc($__iconWidth / 4);
  object-fit: contain;
  object-position: center center;
  transition: $transition4;
  opacity: 0.7;
  cursor: pointer;
  border-left: 1px solid $colorWhite;

  path:first-child {
    fill: $themeColor;
  }
}
