@use "normalize.css";
@use "./variables.scss" as *;

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: $colorGray;
  font-family: $fontFamilyMain;
  font-size: $fontSizeMain;
  background-image: $themeDefaultBGImg;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
}

img {
  display: block;
}

.header__text {
  line-height: 1.7;
  font-size: $fontSizeHeader;
  text-shadow: 0 0 2px $colorBlack;
  color: $themeDefaultHeader;
  transition: color $transition4;
  margin-left: 55px;
}
