//colors
$colorWhite: #d9d9d9;
$colorBlack: #10100e;
$colorGray: #474747;
$colorYelow: #ffff00;
$colorBlue: #6a83fb;
$colorViolet: #ae72c2;

//radius
$borderRadiusSmall: 5px;

//spacing
$spacingSmall: 10px;
$spacingMedium: 20px;
$spacingLarge: 30px;
$spacingXLarge: 40px;

//fonts
$fontFamilyMain: sans-serif;

$fontSizeMain: 16px;
$fontSizeHeader: 26px;

$fontBold: 600;

$widthMax: 1200px;

//themes
$themeDefaultHeader: #cccc46;

$themeDefaultBGImg: url("../static/bg.jpg");

$transition4: 0.4s;

//shadows
$textShadowYelow:
  0 0 2px $colorWhite,
  0 0 40px $colorYelow;

$textShadowBlue:
  0 0 2px $colorWhite,
  0 0 40px $colorBlue;

$textShadowViolet:
  0 0 2px $colorWhite,
  0 0 40px $colorViolet;
