@use "@styles/variables.scss" as *;

.button {
  min-width: 100px;
  padding: 10px;
  font-size: fontSizeMain;
  font-weight: $fontBold;
  font-family: $fontFamilyMain;

  background: none;
  outline: none;

  transition: $transition4;

  cursor: pointer;

  &:disabled,
  &:disabled:hover {
    background-color: transparent;
    border: 1px solid $colorGray;
    color: $colorGray;
    cursor: auto;
  }
}

.light {
  border: 1px solid $colorWhite;
  border-radius: $borderRadiusSmall;
  color: $colorWhite;

  &:hover {
    background-color: $colorWhite;
    color: $colorBlack;
  }
}

.dark {
  border: 1px solid $colorGray;
  border-radius: $borderRadiusSmall;
  color: $colorGray;

  &:hover {
    background-color: $colorGray;
    color: $colorWhite;
  }
}

.violet {
  border: 1px solid $colorViolet;
  border-radius: $borderRadiusSmall;
  color: $colorViolet;

  &:hover {
    background-color: $colorViolet;
    color: $colorBlack;
  }
}

.yellow {
  border: 1px solid $colorYelow;
  border-radius: $borderRadiusSmall;
  color: $colorYelow;

  &:hover {
    background-color: $colorYelow;
    color: $colorBlack;
  }
}

.blue {
  border: 1px solid $colorBlue;
  border-radius: $borderRadiusSmall;
  color: $colorBlue;

  &:hover {
    background-color: $colorBlue;
    color: white;
  }
}
.red {
  border: 1px solid $colorRed;
  border-radius: $borderRadiusSmall;
  color: $colorRed;

  &:hover {
    background-color: $colorRed;
    color: white;
  }
}

.green {
  border: 1px solid $colorGreen;
  border-radius: $borderRadiusSmall;
  color: $colorGreen;

  &:hover {
    background-color: $colorGreen;
    color: $colorBlack;
  }
}
