@use "@styles/variables.scss" as *;

.wrapper {
  margin-top: $spacingXLarge;
}

.person__name {
  font-weight: $fontBold;
  font-size: $fontSizeSubHeader;
  color: $themeColorS;
  background-color: $themeColor;
  padding: $spacingSmall;
  border-radius: $borderRadiusSmall $borderRadiusSmall $borderRadiusSmall 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  border-left: 5px solid $themeColor;
  border-radius: 0 $borderRadiusSmall;
  padding: $spacingSmall 0 $spacingSmall $spacingMedium;
  margin-top: $spacingSmall;
}
