@use "@styles/variables.scss" as *;

.wrapper {
  width: 300px;
  padding: $spacingMedium;
  margin-left: $spacingLarge;
  color: $colorWhite;
}

.list__container {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list__item {
  display: flex;
  align-items: center;
  padding: $spacingXSmall;
  margin-bottom: $marginList;
  color: $themeColorS;
}

.item__episode {
  padding: $spacingXSmall;
  border-radius: $borderRadiusSmall;
  background-color: $themeColor;
}

.item__colon {
  width: 20px;
  font-weight: $fontBold;
  text-align: center;
}

.item__title {
  color: $themeColor;
  text-shadow: $textShadowTheme;
}

@media screen and (max-width: 1020px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}
