@use "@styles/variables.scss" as *;

.wrapper {
  max-width: $widthMax;
  margin: 0 auto;
  padding: $spacingLarge 0;
}

@media screen and (max-width: 1400px) {
  .wrapper {
    padding: $spacingLarge $spacingLarge;
  }
}
