@use "@styles/variables.scss" as *;

.wrapper {
  display: grid;
  height: 75vh;
  align-content: space-between;
}

.main__text {
  margin-top: 15vh;
  font-size: 2rem;
  font-weight: bold;
  color: $themeColor;
  width: 40vw;
  text-align: center;
  justify-self: center;
}

@media screen and (max-width: 800px) {
  .main__text {
    width: 100%;
  }
}
